:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --fonte-principal: 'Comfortaa';
    --verde: #6b9080;
    --hover: #c2ddd7;
    --botao: #1a4301;
    --fundo: #eaf4f4;
}

body {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 300;
    background-color: var(--fundo);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.navegacao__link__titulo {
    font-weight: 700;
    font-size: 20px;
    color: var(--preto);
    padding: 0.3em;
    text-decoration: none;
}

.navegacao__link__titulo:hover {
    color: var(--preto);
    background-color: var(--verde);
}

.navegacao__link {
    font-weight: 700;
    font-size: 20px;
    color: var(--preto);
    padding: 0.3em;
    text-decoration: none;
    margin-top: 100%;
    width: 60vw;
}

.navegacao__link:hover {
    color: var(--preto);
    background-color: var(--verde);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__alinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--preto);
    background-color: var(--verde);
    border-radius: 30px;
    margin-top: 100px;
}

.container__titulo {
    font-size: 60px;
    font-weight: 700;
    color: var(--preto);
    margin: 20px 10px;
}

.container__texto {
    font-size: 18px;
    margin: 20px 0 40px 0;
}

.container__texto__opcoes {
    margin: 10px 0 10px;
    font-weight: 400;
}

.container__opcoes {
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--preto);
    border-radius: 10px;
    width: 35%;
    margin-bottom: 30px;
}

#valor {
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--preto);
    border-radius: 10px;
    width: 33%;
    margin: 30px 0 40px 0;
}

.botao {
    font-weight: 700;
    font-size: 16px;
    background-color: var(--botao);
    border-radius: 10px;
    color: var(--branco);
    padding: 0.5em 1em;
    margin: 10px 0 25px 0;
}

.botao:hover {
    background-color: var(--hover);
    color: var(--verde);
}

#resultado {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0 30px 0;
    color: var(--preto);
    background-color: var(--branco);
    border-radius: 20px;
    padding: 0.8em;
}
