:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --fonte-principal: 'Comfortaa';
    --marrom: #361a0b;
    --cinza: #ebebeb;
    --hover: #694d3d;
    --verde: #5a2201;
}

body {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 300;
    background-image: url(img/moedas.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat; 
    height: 100vh;   
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza);
    padding: 1em;
}

.navegacao {
    margin-left: 25%;
}

.navegacao__link {
    font-weight: 700;
    font-size: 20px;
    color: var(--marrom);
    padding: 0.3em;
    text-decoration: none;
}

.navegacao__link:hover {
    color: var(--branco);
    background-color: var(--marrom);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__titulo {
    font-size: 60px;
    font-weight: 700;
    color: var(--marrom);
    margin: 20px 10px;
}

.container__alinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--preto);
    background-color: var(--cinza);
    border-radius: 30px;
    margin-top: 100px;
}

.container__texto {
    font-size: 18px;
    margin: 20px 0 40px 0;
}

.container__texto__opcoes {
    margin: 10px 0 10px;
    font-weight: 400;
}

.container__opcoes {
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--marrom);
    border-radius: 10px;
    width: 35%;
    margin-bottom: 30px;
}

#valor {
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--marrom);
    border-radius: 10px;
    width: 32%;
    margin: 30px 0 40px 0;
}

.botao {
    font-size: 16px;
    background-color: var(--marrom);
    color: var(--branco);
    padding: 0.5em 1em;
    margin: 10px 0 25px 0;
}

.botao:hover {
    background-color: var(--hover);
}

#resultado {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0 30px 0;
    color: var(--marrom);
    background-color: var(--branco);
    border-radius: 20px;
    padding: 0.8em;
}
