:root {
    --branco: #FFFFFF;
    --fonte-principal: 'Comfortaa';
    --azul-preto: #050D1B;
    --cinza: #244b70;
    --hover: #2E597A;
    --azul: blue;
}

body {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 300;
    background-color: var(--cinza);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em;
}

.navegacao__link {
    font-weight: 700;
    font-size: 20px;
    color: var(--branco);
    padding: 0.3em;
    text-decoration: none;
    top: 100%;
    width: 60vw;
}

.navegacao__link:hover {
    color: var(--branco);
    background-color: var(--azul-preto);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__titulo {
    font-size: 60px;
    font-weight: 700;
    color: var(--branco);
    margin: 20px 50px;
}

.container__alinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    background-color: var(--azul-preto);
    border-radius: 30px;
    margin-top: 100px;
}

.container__texto {
    font-size: 18px;
    margin: 20px 0 40px 0;
}

.container__texto__opcoes {
    margin: 10px 0 10px;
    font-weight: 400;
}

.container__opcoes {
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--azul-preto);
    border-radius: 10px;
    width: 35%;
    margin-bottom: 30px;
}

#valor {
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--azul-preto);
    border-radius: 10px;
    width: 32%;
    margin: 30px 0 40px 0;
}

.botao {
    font-weight: 700;
    font-size: 16px;
    background-color: var(--azul);
    color: var(--branco);
    padding: 0.5em 1em;
    margin: 10px 0 25px 0;
    border-radius: 10px;
}

.botao:hover {
    background-color: var(--hover);
}

#resultado {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0 30px 0;
    color: var(--azul-preto);
    background-color: var(--branco);
    border-radius: 20px;
    padding: 0.8em;
}
